/* ESTILOS GENERALES */

html {
  font-size: 62.5%;
}

body {
  background-image: url("../img/cielo.jpg");
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* ESTILO LAYOUT PRINCIPAL */

.layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header header"
    "slider slider"
    "main aside";
  margin: 15px auto 25px;
  padding: 20px;
  width: 80%;
  background-color: white;
  row-gap: 2.5rem;
}

/* ESTILOS HEADER */

.layout__header {
  grid-area: header;
  position: relative;
}

.header__title {
  text-transform: uppercase;
  font-weight: bolder;
}

.header__btn {
  display: none;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  border: 0;
  background: transparent;
  gap: 0.65rem;
  position: absolute;
  top: 0.6rem;
  left: auto;
  right: 1rem;
}

.header__btn > div {
  background: black;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transform-origin: left;
}

.header__btn:hover div:first-child {
  transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}

.header__btn:hover div:nth-child(2) {
  opacity: 0;
}

.header__btn:hover div:last-child {
  transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}

.header__nav {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: #333333;
  color: white;
}

.nav__menu {
  display: flex;
  width: 500px;
  justify-content: space-around;
}

.menu__item a {
  text-transform: uppercase;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.menu__item a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* ESTILOS SLIDER */

.layout__slider {
  grid-area: slider;
  position: relative;
  width: 100%;
  height: 40rem;
  border: 5px solid whitesmoke;
  box-shadow: 0px 0px 5px black;
  overflow: hidden;
}

.slider__btn {
  position: absolute;
  top: calc(50% - 2.5rem);
  width: 5rem;
  height: 5rem;
  z-index: 2;
  background-color: black;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  border: none;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.slider__btn:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.slider__btn-prev {
  left: 1rem;
}

.slider__btn-next {
  left: auto;
  right: 1rem;
}

.slider__content {
  position: relative;
}

.slider__img {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: all 1.5s;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -o-transition: all 1.5s;
}

.slider__img--active {
  opacity: 1;
}

/* ESTILOS ARTÍCULOS */

.layout__article {
  grid-area: main;
}

.article_content {
  margin-bottom: 2rem;
}

.article__title {
  text-align: left;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 1px;
}

.article__date {
  text-align: left;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
  color: grey;
}

.article__text {
  text-align: left;
  font-size: 1.4rem;
}

.article__button {
  margin-top: 1rem;
  width: 9rem;
  height: 4rem;
  text-transform: capitalize;
  border: none;
  background-color: #1e87c8;
  color: white;
  box-shadow: 0px 0px 3px black;
  cursor: pointer;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.article__button:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

/* ESTILOS WIDGETS */

.widget {
  grid-area: aside;
}

.widget__content {
  margin-bottom: 2.5rem;
}

.widget__title {
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  background-image: url("../img/lines.png");
  background-repeat: repeat-x;
  line-height: 0.5rem;
}

.title__span {
  padding: 5px;
  background-color: white;
}

.widget__content img {
  width: 100%;
}

.widget__form {
  display: grid;
  grid-template-columns: [label]auto [input]1fr;
  grid-auto-flow: row;
  grid-gap: 5px;
}

.widget__form > label {
  grid-column: label;
  grid-row: auto;
}

.widget__form > input {
  padding: 5px;
  grid-column: input;
  grid-row: auto;
  border: none;
  outline: none;
  box-shadow: 0px 0px 3px black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.widget__form > input[type="submit"] {
  background-color: #1e87c8;
  color: white;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.widget__form > input[type="submit"]:active {
  transform: scale(0.99);
  -webkit-transform: scale(0.99);
  -moz-transform: scale(0.99);
  -ms-transform: scale(0.99);
  -o-transform: scale(0.99);
}

/* ESTILOS ACORDEÓN */

.faqs {
  width: 100%;
  padding: 2rem;
}

.faq .faq__head {
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  background-color: #1e87c8;
  box-shadow: 0px 0px 10px #0077b2 inset;
  border-bottom: 5px solid black;
  color: white;
  cursor: pointer;
}

.faq .faq__head .faq__head__icon {
  left: auto;
  right: 2rem;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.faq.active .faq__head .faq__head__icon {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

.faq .faq__content {
  height: 0;
  overflow: hidden;
  box-shadow: 0px 0px 10px grey;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.faq .faq__content p {
  padding: 1rem;
}

/*Estilos Reloj*/

.reloj__container {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  background-color: whitesmoke;
  border: 2px solid black;
  box-shadow: 0px 0px 10px grey, 0px 0px 10px lightgray inset;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.marco_reloj {
  display: flex;
  justify-content: center;
  font-size: 7rem;
  color: #1e87c8;
}

.marco_reloj > span {
  animation: fadeIn 1s infinite ease-in-out;
  -webkit-animation: fadeIn 1s infinite ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.horas,
.minutos,
.segundos {
  text-shadow: 0px 0px 0.5px aquamarine, 0px 0px 1px aquamarine,
    0px 0px 1.5px aquamarine;
}

.dias_semana {
  display: flex;
  justify-content: space-around;
}

.dia {
  opacity: 0.5;
  font-weight: bold;
}

.dia--active {
  opacity: 1;
  color: #1e87c8;
}

.reloj_fecha {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

/*ESTILOS FOOTER*/

.footer {
  display: block;
  height: 3rem;
  margin: 0px auto;
  padding: 1px;
  width: 80%;
  background-color: #41485093;
  color: white;
  text-align: center;
}
